body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
line-height: 1.6;
color: #333;
background: #f7f1c9ff;
text-align: center;
}

/*menu de navegacion*/
.menu {
    display: none;
}

.burger {
    display: none;
    font-size: 2.3rem;
    cursor: pointer;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main img{
    width: 15%;
    height: 15%;
    margin-left: 43%;
    margin-top: 5%;
}

#subtitle{
    margin-top: 1%;
    font-size: 1.8rem;
    font-weight: 700;
}

#paragraph{
    margin-top: 1%;
    font-size: 1.5rem;
}

#regresar_btn{
    margin-top: 2%;
    background-color: #4A90A4;
    padding: 10px;
    width: 10%;
    text-align: center;
    margin-left: 45%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 20px;
}

/*modo tablet*/
@media (max-width: 1024px) {

    main{
        margin-top: 60px;
    }

    main img{
        width: 25%;
        height: 25%;
        margin-left: 38%;
    }

    #regresar_btn{
        width: 20%;
        margin-left: 40%;
    }
}


/*modo telefono*/
@media (max-width: 768px) {

    .btn-sistema{
    background: none;
}

    main{
        margin-top: 100px;
    }

    main img{
        width: 30%;
        height: 30%;
        margin-left: 35%;
    }

    #regresar_btn{
        width: 30%;
        margin-left: 35%;
    }

    /*menu de navegacion responsivo*/
    .burger {
        display: block;
      }

      .nav-menu {
        position: fixed;
        flex-direction: column;
        background-color: #333;
        top: 100px;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
      }

      .nav-menu li {
        margin: 5px 0;
        margin-top: 10%;
        text-align: center;
      }

      .menu:checked ~ .nav-menu {
        display: flex;
        transform: translateX(0);
      }
}