#sistema-escolar .container {
    margin: 0 auto;
    max-width: 1200px;
}

/*estilos de la navegacion*/
.menu {
  display: none; /* ocultamos el checkbox */
}

.burger {
  display: none;
  font-size: 2.3rem;
  cursor: pointer;
  color: white;
}

/* Estilos normales del menú en escritorio */
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

/*estilo del buscador*/

form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#buscar{
  padding: 10px;
  width: 500px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
}

#buscar-btn{
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4A90A4;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

/* Estilos del contenedor principal */
main {
    display: grid;
    gap: 50px;
    margin: 30px -40px; /* Centrar y margen superior/inferior */
    grid-template-columns: repeat(3, 1fr);
    
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 1rem;
}

h3{
    margin-top: -20px;
    color: black;

}

#sistema-escolar .container h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    
}

/* Estilos de la tarjeta de usuario */
.card-container-user {
    text-align: center;
    background: #f5f5f5ff; /* Fondo claro para la tarjeta, */
    max-width: 450px;
    height: 570px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
}

/* Estilos para la imagen de perfil */
img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 45%;
}

/* Contenedor de botones */
.group-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;
    justify-content: center;
}

/* Estilos base de los botones */
.group-buttons button, .group-buttons a {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Quitar subrayado a los enlaces */
    color: white; /* Color de texto blanco por defecto */
    display: inline-block; /* Permitir padding y width/height en 'a' */
}

.card-add-user {
    text-align: center;
    background: #f5f5f5ff; /* Fondo claro para la tarjeta, */
    max-width: 450px;
    height: 570px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
    margin: 50px 0;

}

#link-add-user {
    text-align: center;
    background: rgba(245, 245, 245, 0.2); /* Fondo claro para la tarjeta, */
    max-width: 450px;
    height: 570px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
    text-decoration: none;
    color: black;

}

.kk{
    font-size: 1.5rem
}

#plus {
    margin-top: 70px;
}

/* Estilo para el botón de eliminar (rojo) */
#eliminar {
    background-color: #ce6868ff;
}

/* Estilo para el botón de editar (azul) */
#editar {
    background-color: #94a5e7ff;
}

/* Estilo para el botón de consultar (verde) */
#consultar {
    background-color: #77cfa3ff;
}

a{
    text-decoration: none;
}

/*estilos para modo tablet*/
@media (max-width: 1024px) {
   main{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }

  #sistema-escolar .container h1 {
    font-size: 1.6rem;
    margin-top: -5%;
    font-size: 1.6rem
  }

  .card-container-user, #link-add-user{
    width: 90%;
    height: 470px;
  }

  #link-add-user{
    margin-top: 50px;
  }

  img{
    width: 200px;
    height: 200px;
  }

  #plus {
    font-size: 8rem;
    margin-top: 60px;
  }
}

/*modo movil*/
@media (max-width: 768px){

  /*buscador*/
  #buscar{
    width: 70%;
  }

    .burger {
    display: block; /* aparece el ícono hamburguesa */
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    background-color: #333;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%); /* oculto fuera de pantalla */
    transition: transform 0.3s ease-in-out;
    padding-top: 2rem;
  }

  .nav-menu li {
    margin: 1rem 0;
    text-align: center;
  }

  /* cuando el checkbox está marcado */
  .menu:checked ~ .nav-menu {
    transform: translateX(0); /* se desliza dentro */
  }

  /*principal*/
  #sistema-escolar .container h1 {
    font-size: 1.4rem;
    margin-top: -5%;
    font-size: 1.4rem
}

  /*lista*/
  main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card-container-user, #link-add-user{
    margin-top: 10%;
    width: 80%;
    float: none;
  }

  img{
    width: 150px;
    height: 150px;
  }

  .card-container-user{
    height: 400px;
  }

  #editar, #eliminar, #consultar{
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .card-container-user h2{
    font-size: 1.3rem;
    margin: 15px 0;
  }

  .roli{
    font-size: 1rem;
    margin: 20px 0;
  }

  #link-add-user{
    height: 400px;
  }

  .kk{
    font-size: 1.2rem;
  }

  #plus {
    font-size: 6rem;
    margin-top: 60px;
  }

}