#sistema-escolar .container {
margin: 0 auto;
max-width: 1200px;
}

/*estilos del menu*/
.menu {
  display: none; /* ocultamos el checkbox */
}

.burger {
  display: none;
  font-size: 2.3rem;
  cursor: pointer;
  color: white;
}

/* Estilos normales del menú en escritorio */
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

/* Estilos del contenedor principal */
main {
display: grid;
gap: 50px;
margin: 30px -40px; /* Centrar y margen superior/inferior */
grid-template-columns: repeat(3, 1fr);

}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 1rem;
}

h3{
margin-top: -20px;
color: black;

}

#sistema-escolar .container h1 {
text-align: center;
margin-top: 20px;
font-size: 2.5rem;

}

/* Estilos de la tarjeta de usuario */
.card-container-user {
text-align: center;
background: #f5f5f5ff; /* Fondo claro para la tarjeta, */
max-width: 450px;
height: 570px;
padding: 30px;
border-radius: 15px;
box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
margin: 50px 0;
}

/* Estilos para la imagen de perfil */
img {
object-fit: cover;
width: 300px;
height: 300px;
border-radius: 45%;
}

/* Contenedor de botones */
.group-buttons {
display: flex;
flex-direction: row;
gap: 15px;
margin-top: 40px;
justify-content: center;
}

/* Estilos base de los botones */
.group-buttons button, .group-buttons a {
padding: 10px 15px;
border-radius: 20px;
border: none;
font-size: 16px;
cursor: pointer;
text-decoration: none; /* Quitar subrayado a los enlaces */
color: white; /* Color de texto blanco por defecto */
display: inline-block; /* Permitir padding y width/height en 'a' */
}

.card-add-user {
text-align: center;
background: #f5f5f5ff; /* Fondo claro para la tarjeta, */
max-width: 450px;
height: 570px;
padding: 30px;
border-radius: 15px;
box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
margin: 50px 0;

}

#link-add-user {
text-align: center;
background: rgba(245, 245, 245, 0.2); /* Fondo claro para la tarjeta, */
max-width: 450px;
height: 570px;
padding: 30px;
border-radius: 15px;
box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
margin: 50px 0;
text-decoration: none;
color: black;

}

.kk{
font-size: 1.5rem
}

#plus {
margin-top: 70px;
}

/* Estilo para el botón de eliminar (rojo) */
#eliminar {
background-color: #ce6868ff;
}

/* Estilo para el botón de editar (azul) */
#editar {
background-color: #94a5e7ff;
}

/* Estilo para el botón de consultar (verde) */
#consultar {
background-color: #77cfa3ff;
}

a{
text-decoration: none;
}

@media (max-width: 768px){

    .burger {
    display: block; /* aparece el ícono hamburguesa */
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    background-color: #333;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%); /* oculto fuera de pantalla */
    transition: transform 0.3s ease-in-out;
    padding-top: 2rem;
  }

  .nav-menu li {
    margin: 1rem 0;
    text-align: center;
  }

  /* cuando el checkbox está marcado */
  .menu:checked ~ .nav-menu {
    transform: translateX(0); /* se desliza dentro */
  }

  /*principal*/
  .container h1{
    font-size: 1.4rem;
  }

}