/*media query para el menu de hamburguesa de vista-director-inicio*/

  /* Estilos para el menu de hamburguesa */
.menu {
      display: none;
    }

    .burger {
      display: none;
      font-size: 2.3rem;
      cursor: pointer;
      color: white;
    }

@media (max-width: 768px) {

  .burger {
        display: block;
      }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        background-color: #333;
        top: 100px;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
      }

      .nav-menu li {
        margin: 5px 0;
        margin-top: 10%;
        text-align: center;
      }

      .menu:checked ~ .nav-menu {
        display: flex;
        transform: translateX(0);
      }

}