/*media query para el menu de hamburguesa de vista-director-inicio*/

  /* Estilos para el menu de hamburguesa */
  .menu {
    display: none;
  }

  .burger {
    display: none;
    font-size: 2.3rem;
    cursor: pointer;
    color: black;
  }

@media (max-width: 768px) {

  .burger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
  }

.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
}
}